debug: true

storage:
  redis: '127.0.0.1:6379'
  key: ''
  iv: ''

file_storage:
  path: ''

web:
  address: '127.0.0.1'
  port: 8000
  static_path: ''
  cookie_key: ''

bot:
  secret: ''

mail:
  address: ''
  port: 993

