debug: true

storage:
  redis: '127.0.0.1:6379'
  key: ''
  iv: ''
  postgres: 'postgres://user:password@postgres:5432/db'

web:
  address: '127.0.0.1'
  port: 8000
  static_path: ''
  cookie_key: ''

bot:
  secret: ''

mail:
  address: ''
  port: 993

broker:
  address: '127.0.0.1'
  rep_port: 5555
  pub_port: 5556
